<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dormitory.dormitoryserver.mapper.DeviceResourceMapper">

    <select id="pageQuery" resultType="com.dormitory.dormitoryserver.entity.DeviceResource">
        select * from device_resource
        <where>
            <if test="buildingNo != null and buildingNo != ''">
                and (building_no = #{buildingNo}
                     or building_no like concat(#{buildingNo}, '号楼%')
                     or building_no like concat(
                         case #{buildingNo}
                             when '1' then '一号楼'
                             when '2' then '二号楼'
                             when '3' then '三号楼'
                             when '4' then '四号楼'
                             when '5' then '五号楼'
                             when '6' then '六号楼'
                             when '7' then '七号楼'
                             when '8' then '八号楼'
                             when '9' then '九号楼'
                             when '10' then '十号楼'
                         end, '%'))
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="update">
        update device_resource
        <set>
            <if test="buildingNo != null and buildingNo != ''">building_no = #{buildingNo},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteBatch">
        delete from device_resource where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertBatch">
        INSERT INTO device_resource (building_no, device_name, status, create_time, update_time)
        VALUES
        <foreach collection="list" item="d" separator=",">
            (#{d.buildingNo}, #{d.deviceName}, 1, NOW(), NOW())
        </foreach>
    </insert>

</mapper>